@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td><button class="btn btn-success">Buy</button></td>
            </tr>
        }
    </tbody>
</table>